/** Balise HTML Standard **/
body {
    margin: 0;
}

button {
    background-color: #A6C6F5;
    color: white;
    font-weight: bold;
}

h2 {
    text-align: center;
}

label {
    display: inline-block;
    width: 100px;
}

img {
    width: 30px;
    margin-left: 2px;
    margin-right: 2px;
}

/** Global **/
.centrage {
    text-align: center;
}

/** Header Layout **/
.Title-App {
    background-color: #4E7BBE;
    color: white;
    display: block;
    margin-top: 0;
    top: 0px;
    margin-bottom: 0px !important;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 25px;
}

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem {
    width: 100% !important;
}

.p-tabmenuitem.p-highlight .p-menuitem-link {
    border-color: #6366F1 #6366F1 #6366F1 #6366F1 !important;
}

.p-tabmenuitem:not(.p-highlight):not(.p-disabled):hover .p-menuitem-link {
    border-color: #adb5bd #adb5bd #adb5bd #adb5bd !important;
}

.p-tabmenuitem .p-menuitem-link {
    border-color: #dee2e6 #dee2e6 #dee2e6 #dee2e6 !important;
}

.p-menuitem-link {
    background-color: #A6C6F5 !important;
    text-align: center !important;
    display: inherit !important;
    border-width: 1px 3px 3px 3px !important;
    padding: 10px 5px 10px 5px !important;
    border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
}

.p-menuitem-text {
    color: white;
}

/** Prepare Session Layout **/
.p-selection-column {
    width: 50px !important;
    text-overflow:ellipsis; 
    overflow: hidden;
    padding-left: 7px !important;
    padding-right: 7px !important;
}

.pi-check::before {
    content: "\2713" !important;
}

.validateButton {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    height: 30px;
}

/** Exercise Session **/
/* Solution find thanks to https://speakerdeck.com/goetter/ah-tu-peux-faire-ca-en-css-maintenant?slide=59 */
.exercise {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
}

.titleExoSession {
    display: inline-block;
    width: 100%;
    height: 60px;
}

.nameExoSession {
    display: inline-block;
    margin-left: 20px;
    width: 60%;
}

.champsExoSession {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
}

.inputExercise {
    width: 25% !important;
}

.buttonPlus5 {
    display: inline-block;
    width: 30px;
    margin-left: 15px;
}

.validationExercise {
    width: 100%;
    display: grid;
    place-content: center;
}

.buttonValidateMove {
    width: 200px;
}

.blockExo {
    display: grid;
    place-content: center;
}

.buttonGreen {
    background-color: green;
}

.buttonRed {
    background-color: red;
}

.buttonGray {
    background-color: gray;
}

.buttonSession {
    font-weight: 20px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
}

.block {
    display: block;
}

.inline {
    display: inline-block;
}

.nameMove {
    width: 50%;
}

.weightMove {
    width: 20%;
}

.repetitionMove {
    width: 20%;
}

.savedMove {
    width: 10%;
    color: green;
}

.notSavedMove {
    width: 10%;
    color: red;
}
