.exercise {
    display: inline-block;
    width: 100%;
}

.selection {
    display: inline-block;
    width: 10%;
}

.name {
    display: inline-block;
    width: 25%;
}

.muscle {
    display: inline-block;
    width: 25%;
}

.muscle-icon {
    margin-right: 5px;
}

.tools {
    display: inline-block;
    width: 25%;
}

.tools-icon {
    margin-right: 5px;
}

.p-selection-column {
    width: 50px !important;
    text-overflow:ellipsis; 
    overflow: hidden;
    padding-left: 7px !important;
    padding-right: 7px !important;
}

.pi-check::before {
    content: "\2713" !important;
}

img {
    width: 30px;
    margin-left: 2px;
    margin-right: 2px;
}